/* =====================================================
   Custom Fonts - Bundled for Offline Use
   ===================================================== */

/* Outfit Font - Used for Welcome Screen Headlines */
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/Outfit-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('./fonts/Outfit-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('./fonts/Outfit-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./fonts/Outfit-Bold.ttf') format('truetype');
}

/* DM Sans Font - Used for Body Text */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/DMSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('./fonts/DMSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('./fonts/DMSans-SemiBold.ttf') format('truetype');
}